hpc_*.html
.hpc
dist
dist-*
cabal-dev
rewire.cmd.out
show.out
tc.out
*.hs.html
*.o
*.hi_o
*.p_o
*.p_hi
*.hi
*.hie
*.chi
*.chs.h
.virthualenv
*.swp
*~
\#*\#
*.aux
*.bbl
*.blg
*.log
*.pdf
*.synctex.gz
.cabal-sandbox
*.dyn_o
*.dyn_hi
.hpc
.hsenv
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.vhd
*.eventlog
.stack-work/
cabal.project.local
cabal.project.local~
.HTF/
.ghc.environment.*