Main
Main.*
Main_p
Main_p.*
hpc_*.html
.hpc
dist
cabal-dev
rewire.cmd.out
show.out
tc.out
*.hs.html
*.o
*.hi_o
*.p_o
*.p_hi
*.hi
*.chi
*.chs.h
.virthualenv
*.swp
*~
\#*\#
Debug.hs
*.aux
*.bbl
*.blg
*.log
*.pdf
.cabal-sandbox
cabal.sandbox.config
